*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#wrapper{
  width: 970px;
  margin: 10px auto;
  background-color:white;
}

#main_header h3{
  display: inline-block;
}

#top_header img{
  height: 100px;
  width: 100px;
}

#top_header h1{
  color: #829595;
  display: inline-block;
}

#top_header span{
  color: #4169E1;
}


#second_header{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  background: #0099CC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0099CC, #C3E4ED, #0099CC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0099CC, #C3E4ED, #0099CC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0099CC, #C3E4ED, #0099CC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0099CC, #C3E4ED, #0099CC); /* Standard syntax */
}



#sidebar{
  display: inline-block;
  width: 250px;
  vertical-align: top;
  margin-top: 20px;
  margin-left:4px;
  margin-right: 30px;
}

#sidebar span{
  color: #4169E1;
}

#sidebar h4 span{
  color: red;
}

#button_one{
  background-color: #4169E1;
  color: white;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 15px;
}

#button_two{
  background-color: #FFA500;
  color: white;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#sidebar hr{
  width: 200px;
}

#sidebar h4{
  padding-bottom: 15px;
}

#side_ad{
  margin-top: 20px;
  background-image: url("images/ad_background.png");
  height: 280px;
  width: 200px;
}

#side_ad h3{
  color: white;
  text-align: center;
  padding-top: 20px;
}

#ad_ninja{
  width: 100px;
  margin-left: 45px;
  margin-bottom: 15px;
}

#side_ad button{
  background-color: #00FFFF;
  color: white;
  padding: 5px 40px 5px;
  border-radius: 10px;
  margin-left: 25px;
}

#maincontent{
  display: inline-block;
  width: 600px;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
}

#page_header{
  width: 970px;
  padding-bottom: 10px;
}

#page_header span{
  color: #39B7CD;
  vertical-align: top;
}

#page_header p{
  font-size: 10px;
}

#header_DNS{
  display: inline-block;
}

#home_image{
  height: 20px;
  width: 20px;
  vertical-align: top;
}


#header_contactinfo{
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 150px;
}

#header_contactinfo h4{
    color: #39B7CD;
}

#phone_logo{
  height: 40px;
  width: 40px;
  margin-left: 350px;
  margin-bottom: 10px;
}

#maincontent h3{
  color: #4169E1;
  margin-top: 10px;
}

#maincontent span{
  color:#67E6EC;
}

#maincontent h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

#middle_content ul {
  margin-left: 50px;
}

#middle_content ol {
  margin-left: 50px;
}

#infographic{
  width: 300px;
  height: 100px;
  margin-left: 140px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#bottom_ad{
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  width: 600px;
  margin-top: 25px;
  padding: 15px;
}

#bottom_ad_image{
  width: 125px;
  height: 125px;
}

#bottom_ad_content{
  width: 400px;
  vertical-align: top;
  display: inline-block;
  margin-left: 70px;
}
